// --------block-editor---------------

.block-editor__title {
  display: block;
  @include fontStyle(normal, bold, 26px, 28px, #635c73);
  text-transform: uppercase;
  text-align: center;
  padding-top: 140px;
  margin: 0 auto;
  max-width: 85%;
  @media (min-width: 481px) {
    font-size: 42px;
    line-height: 42px;
    max-width: 90%;
  }
  @media (min-width: 993px) {
    font-size: 54px;
    line-height: 54px;
    max-width: 70%;
  }
}

.block-editor__text {
  font-family: $fontLato;
  margin: 27px auto 36px;
  @include fontStyle(normal, normal, 14px, 20px, #323232);
  text-align: center;
  max-width: 85%;

  @media (min-width: 481px) {
    font-size: 21px;
    line-height: 32px;
    max-width: 90%;
  }
  @media (min-width: 993px) {
    font-size: 21px;
    line-height: 32px;
    max-width: 75%;
  }
}

.block-editor__buttons-list {
  @extend %list-reset;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  row-gap: 20px;
  column-gap: 10px;
  justify-content: center;
  padding-bottom: 88px;
  max-width: 90%;
  @media (min-width: 481px) {
    padding-bottom: 78px;
    max-width: 100%;
  }
  @media (min-width: 993px) {
    padding-bottom: 70px;
  }
}
.block-editor__buttons-item {
  display: flex;
  max-width: 100%;
}

.block-editor__btn-link {
  text-decoration: none;
  display: inline-block;
  background-color: #f6f8fa;
  padding: 3px 12px;
  @include fontStyle(normal, 500, 12px, 20px, #24292f);
  user-select: none;
  border: 1px solid #1b1f2426;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  vertical-align: middle;
  &:hover {
    background-color: #f3f4f6;
  }
}

.block-editor__btn-img {
  vertical-align: text-top;
}

.block-editor__btn-count-link {
  text-decoration: none;
  @include fontStyle(normal, 600, 12px, 20px, #24292f);
  display: inline-block;
  padding: 3px 12px;
  background-color: #ffffff;
  border: 1px solid #1b1f2426;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;

  border-left: none;
  &:hover {
    color: #0969da;
  }
}

.dropdown-caret {
  text-transform: capitalize;
  &::after {
    display: inline-block;
    content: "";
    width: 0;
    height: 0;
    vertical-align: middle;
    border-style: solid;
    border-width: 4px 4px 0;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    margin-left: 4px;
    opacity: 0.8;
  }
}
