*,
*::after,
*::before {
  box-sizing: border-box;
}

.page__body {
  margin: 0;
  font-family: $font;
}

.container {
  min-width: 320px;
  max-width: 100%;
  padding: 0 10px;
  margin: 0 auto;
  @media (min-width: 481px) {
    min-width: 481px;
    max-width: 992px;
  }
  @media (min-width: 993px) {
    min-width: 993px;
  }
}

a {
  text-decoration: none;
}
