*,
*::after,
*::before {
    box-sizing: border-box;
}

.page__body {
    margin: 0;
    font-family: $font;
}

.container {
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    @media (min-width: 480px) {
        max-width: 480px;
    }
    @media (min-width: 640px) {
        max-width: 640px;
    }
    @media (min-width: 800px) {
        max-width: 800px;
    }
    @media (min-width: 992px) {
        max-width: 992px;
    }
    @media (min-width: 1110px) {
        max-width: 1110px;
    }
}

a {
    text-decoration: none;
}
