%list-reset {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
}

@mixin button {
  display: inline-block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 15px;
  padding: 11px 18px;
  border-radius: 40px;
  border: 1px solid $secondaryColor;
  background-color: $secondaryColor;
  color: $mainColor;
  transition: color 300ms ease-in;
  transition: background-color 300ms ease-in;

  &:hover {
    background-color: $mainColor;
    color: $secondaryColor;
    transition: color 300ms ease-in;
    transition: background-color 300ms ease-in;
  }

  @media (min-width: 481px) {
    padding: 11px 31px;
  }
}
